// 字体颜色
@mixin mixin-color($color) {
    @if $color == red {
        color: #cd2525;
    } @else if $color == black {
        color: #333333;
    } @else if $color == white {
        color: #ffffff;
    } @else if $color == grey {
        color: #666666;
    } @else if $color == yellow {
        color: #f0883a;
    } @else if $color == dark {
        color: #999999;
    } @else if $color == blue {
        color: #0b2f8d;
    }
}

// 背景颜色
@mixin mixin-bg-color($bg) {
    @if $bg == red {
        background-color: #de2727;
    } @else if $bg == black {
        background-color: black;
    } @else if $bg == white {
        background-color: #ffffff;
    } @else if $bg == lead {
        background-color: #f5f5f5;
    } @else if $bg == yellow {
        background-color: #f0883a;
    } @else if $bg == blue{
        background-color: #0b2f8d;
    } @else if $bg == DarkBlue{
        background-color: #2a3249;
    }
}

// 溢出隐藏
@mixin mixin-textHidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 多行溢出隐藏
@mixin mixin-textHiddens($number) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: $number;
    text-overflow: ellipsis;
    overflow: hidden;
}

// flex布局
@mixin mixin-flex($justify, $alignItems, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $alignItems;
    flex-direction: $direction;
}

@mixin mixin-box-shadow {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

@mixin mixin-img-block {
    width: 100%;
    height: 100%;
    display: block;
}